/*

!.vim/
.vim/*

!.vim/custom

!.config/
.config/*

!.config/fish
.config/fish/*

!.config/fish/functions

!.config/nvim
.config/nvim/*

!.config/nvim/ftplugin
!.config/nvim/init.vim

!.ipython/
.ipython/*

!.ipython/profile_default
.ipython/profile_default/*

!.ipython/profile_default/ipython_config.py

!.migrate

!/Library
/Library/*

!/Library/QuickLook
